<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JXK8TX8LYY"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-JXK8TX8LYY');
    </script>
    <script src="script.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How much to run for that snack</title>
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="header">
        <h1 class="title_header"> How far to run to burn that off? </h1>
    </div>
    
    <div class = "SnackSelection    <% if (locals.distance) { %> hidden <% } %> "> 
    <form action="/submit" method="POST">
        <label for="SnackSelection">What are you craving? </label>
        <br><br>
        <select id="SnackSelection" name="SnackSelection" onchange="previewImage()">
        
            <% if(locals.foodlist){ %>
            <% foodlist.forEach(function(foodItem) { %>
                <option value="<%=foodItem%>"><%=foodItem%></option>
            <%}); %>
            <%}%>
        </select>
        
        <div id="imagePreview" >
            <img src="pictures/peanut_butter_waffle.jpg" alt="Curry Puff" id="snackImage" >
        </div>
        <input type="submit" value="Submit">
    </form>
    </div>

    <br>

    
    <% if (locals.distance || locals.similar){ %>
    <div class = "SnackSelectionResult">
        <h2>You selected <%= snack %>. If you eat that, you'll need to run 
            <h1><%= distance %> km </h1>
            <h2>to burn those calories off! </h2>
    </div>

 
    <div class = "VoteSelection <% if (locals.similar) { %> hidden <% } %> ">
    <h2> Would you still: </h2>
        <h3><form action="/submitvote" method="POST">
            <label> <input type="radio" name="vote" value="eat"> Eat it anyway! </label>
            <label> <input type="radio" name="vote" value="avoid"> Reluctantly avoid </label>
            <input type="hidden" name="snack" value="<%= snack %>" >
            <br><br>
            <input type="submit" name ="submitvote" value="Vote">
        </form> 
        (vote to see how others selected!) </h3>
    </div>
    <% } %> 
    

    
    <%if (locals.similar){ %>
    <div class="VoteSelectionResult">
        <h2> You selected <%=vote %>! <%= similar %>% of users made the same choice as you! </h2>

        <form action="/" method="GET">
            <input type="submit" name ="home" value="Try again">
        </form> 
    </div>
    <%}%>
    
    <div class = "footer">
        <div class="divider"></div>
        <a href="/about"><h3>About</h3></a>
    </div>


</body>
</html>